#container {
	width: 1200px;
}

#logo {
	height: 60px;
	margin-top: 
	24px; 
	padding-left: 30px;
	padding-right: 66px
}

#main1 {
	margin-top: 24px;
	height: 60px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #80bb3d;
	padding-left: 128px;
	padding-top: 13px;
	padding-bottom: 12px;
	padding-right: 25.4px;
    .visible-desctop;
}

#main2 {
	margin-top: 24px;
	height: 60px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #4b721d;
	padding-top: 13px;
	padding-bottom: 12px; 
	padding-right: 36.4px;
	padding-left: 23px
}

#main3 {
	margin-top: 24px;
	height: 35px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #4b721d;
	padding-top: 13px;
	padding-bottom: 12px;
	padding-left: 2px;
	padding-right: 28px
}

#m1 {
	margin-left: 180px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #80bb3d;
}

#m2 {
	margin-left: 50px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #4b721d;
}

#m3 {
	margin-left: 20px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #4b721d;
}

#ap-1 {
	height: 360px;
	padding-right: 20px; 
	margin-top: 36px
}

#ap-2 {
	height: 360px;
	padding-left: 10px;
	margin-top: 36px
}

#zag1 {
	margin-top: 57px;
	width: 236.2px;
	height: 39px;
	font-family: Formular;
	font-size: 32px;
	font-weight: 500;
	text-align: left;
	color: #4b721d;
}

#rowtovar {
	margin-left: 0px; 
	margin-right: 15px
}

#tovar1 {
	height: 384px;
	padding-left: 30px;
	padding-right: 7px;
	margin-top: 21px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
}

#tovar2 {
	height: 384px;
	padding-left: 22px;
	padding-right: 15px;
	margin-top: 21px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21)
}


#tovar3 {
	height: 384px;
	padding-left: 14px;
	padding-right: 23px;
	margin-top: 21px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21)
}

#tovar4 {
	height: 384px;
	padding-left: 6px;
	padding-right: 30px;
	margin-top: 21px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21)
}

#naz1 {
	height: 26px;
	padding-left: 29px;
	padding-right: 45.8px;
	font-family: Formular;
	font-size: 21px;
	text-align: left;
	color: #515151;width: 263px;
}

#naz2 {
	height: 26px;
	padding-left: 29px;
	padding-right: 45.8px;
	font-family: Formular;
	font-size: 21px;
	text-align: left;
	color: #515151;width: 263px;
}

#naz3 {
	height: 26px;
	padding-left: 29px;
	padding-right: 45.8px;
	font-family: Formular;
	font-size: 21px;
	text-align: left;
	color: #515151;width: 263px;
}

#naz4 {
	height: 26px;
	padding-left: 29px;
	padding-right: 45.8px;
	font-family: Formular;
	font-size: 21px;
	text-align: left;
	color: #515151;
	width: 263px;
}

#old1 {
	padding-bottom: 22.7px;
	padding-left: 28px;
	padding-right: 0px;
	height: 35px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	color: #9d9d9d;
	float: left;
}

#old2 {
	padding-bottom: 22.7px;
	padding-left: 28px;
	padding-right: 0px;
	height: 35px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	color: #9d9d9d;
	float: left;
}

#old3 {
	padding-bottom: 22.7px;
	padding-left: 28px;
	padding-right: 0px;
	height: 35px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	color: #9d9d9d;
	float: left;
}

#old4 {
	padding-bottom: 22.7px;
	padding-left: 28px;
	padding-right: 0px;
	height: 35px;
	font-family: Formular;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	color: #9d9d9d;
	float: left;
}

#new1 {
	font-size:28px; 
	color:#4b721d; 
	left: 152px; 
	top: 922px; 
	float: right;
}

#new2 {
	font-size:28px; 
	color:#4b721d; 
	left: 152px; 
	top: 922px; 
	float: right;
}

#new3 {
	font-size:28px; 
	color:#4b721d; 
	left: 152px; 
	top: 922px; 
	float: right;
}

#new4 {
	font-size:28px; 
	color:#4b721d; 
	left: 152px; 
	top: 922px; 
	float: right;
}

A{
    color:inherit;
}
A:hover{
    text-decoration: none;
    color:inherit;
}
A:visited{
    color:inherit;
}

#zag2 {
	margin-top: 55px;
	width: 232.2px;
	height: 39px; 
	font-family: Formular;
	font-size: 32px;
	font-weight: 500;
	text-align: left;
	color: #4b721d;
}

#picture1{
	margin-top: 21px;
    margin-left:15px;
    margin-right:25px;
    padding: 0 0 0 0;
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-color: rgba(46, 46, 46, 0.21);
    background-image:url('images/cp-1.jpg');
}
#picture2{
	margin-top: 21px;
    margin-left:15px;
    padding: 0 0 0 0;
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-image:url('images/cp-2.jpg');
}
#picture3{
    margin-left:20px;
    padding: 0 0 0 0;
    color:#ffffff;
    font-weight:bold;
    font-size:42px;
    width: 1140px;
    height: 364.4px;
    border-radius: 2px;
    background-image:url('images/cp-3.jpg');
}
#mask{
    padding-top:126px;
    text-align: center;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-color: rgba(46, 46, 46, 0.21);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    z-index: 2;
}
#mask2{
    padding-top:126px;
    text-align: center;
    width: 555px;
    height: 302px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
}
#mask3{
    padding-top:157px;
    text-align: center;
    width: 1140px;
    height: 364.4px;
    border-radius: 2px;
    background-color: rgba(46, 46, 46, 0.21);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
    z-index: 2;
}
#sred{
    margin-top: 30px;
    margin-bottom: 85.6px;
}

#contacts{
	margin-left: 0px;
	margin-top: 85.6px;
    width: 1150px;
    background: #f4f4f4;
    height: 309px;
    padding-top:36px;
    color:#666666;
    font-size:21px;
    font-family:Formular;
}

#foot{
    text-align: center;
    color:#c3c3c3;
    font-size:16px;
    margin: 15px 0 20px 0;
}

